body {
    font-family: Monospace;
    background-color: rgb(255, 255, 255);
    margin: 10px;
}

#canvas1 {
    /* background-color: #000; */
   
    /* border: 1px solid black; */
    margin: 1px;
    padding: 0px;
    position:static; /* fixed or static */
    top: 100px;
    left: 100px;
}
#canvas2 {
    /* background-color: #000; */
  
    /* border: 1px solid black; */
    margin: 1px;
    padding: 0px;
    position:static; /* fixed or static */
    top: 100px;
    left: 100px;
}
